---
import Post from "../../../components/post.astro";
import { deletePost, findPost } from "../../../db/model";
import Layout from "../../../layouts/Layout.astro";

const { postId } = Astro.params;
if (Astro.request.method === "DELETE") {
    if (!postId) {
        return new Response(null, {
            status: 400,
            statusText: "Bad Request",
        });
    }
    await deletePost(postId);
    Astro.response.headers.set("HX-Trigger", "reload-posts");
    return;
}
const post = await findPost(postId!);
---

<Layout title="some post">
    <div class="flex w-full gap-4">
        <a
            href="/"
            class="text-purple-200 hover:text-purple-100 bg-slate-700 rounded-full p-2"
            ><svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="h-6 fill-purple-200"
                ><g
                    ><path
                        d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"
                    ></path></g
                ></svg
            >
        </a>
        <h1 class="font-bold text-4xl text-purple-200">some Post</h1>
    </div>
    <Post post={post!} />
    <h2 class="font-bold text-2xl text-purple-200 self-start">comments</h2>
    <div>comments...</div>
</Layout>
