---
import { findPostPage } from "../../db/model";
import Post from "../../components/list-post.astro";
const posts = await findPostPage(0);
---

<div
    class="flex flex-col gap-4 w-full"
    id="post-list"
    hx-get="posts/list"
    hx-trigger="new-post from:body"
>
    {posts && posts.map((post) => <Post post={post} />)}
</div>
