---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-neutral-50">
		<main
			class="container mx-auto flex flex-col items-center h-screen w-1/2 gap-2 px-2 border-x border-indigo-900"
		>
			<slot />
		</main>
	</body>
</html>
